.container {
    width: 100%;
    height: 80vh;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: gray;
}

.fundocards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.lista {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-areas: "icone content";
    padding: 1.5rem;
    border-radius: 12px;
    background-color: #222;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s, box-shadow 0.3s;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    min-height: 200px;
}

.listaAddVeiculo {
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    gap: 10px;
}

.iconeAddVeiculo {
    width: 5rem;
    height: 5rem;
    color: #ffF;
    cursor: pointer;
}

.textAddVeiculo {
    color: #fff;
    font-size: 1.5rem;
}

.lista:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.iconeVeiculo {
    display: flex;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    color: #ff9d00;
}

.icone {
    grid-area: icone;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.6rem;
    width: 80px;
    height: 80px;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1.2rem;
}

.placa {
    color: #333;
    font-size: 1.5rem;
    padding: 0.5rem .25rem;
    text-align: center;
    border-radius: 12px;
    background-color: #e9ecef;
    margin-bottom: 0.8rem;
    font-weight: 600;
    width: 100%;
}

.marca,
.modelo,
.ano {
    color: #e9ecef;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.proprietario {
    color: #28a745;
    font-size: 1rem;
}

.naoProprietario {
    color: #dc3545;
    font-size: 1rem;
}

.botoeslink {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, opacity 0.3s;
}

.link:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.iconeExcluir {
    display: flex;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M19 4h-3.5l-1-1h-5l-1 1H5v2h14M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6z'/%3E%3C/svg%3E");
    filter: brightness(0) invert(1);
}

.iconeAlterar {
    display: flex;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M10 19.11L12.11 17H7v-2h7v.12L16.12 13H7v-2h10v1.12l1.24-1.23c.48-.48 1.11-.75 1.8-.75c.33 0 .66.07.96.19V5a2 2 0 0 0-2-2H5c-1.11 0-2 .89-2 2v14a2 2 0 0 0 2 2h5zM7 7h10v2H7zm14.7 7.35l-1 1l-2.05-2.05l1-1a.55.55 0 0 1 .77 0l1.28 1.28c.21.21.21.55 0 .77zm-1.82 1.82L13 21v-2.88l6.88-6.88l2.05 2.05z'/%3E%3C/svg%3E");
    filter: brightness(0) invert(1);
}

.iconeVisualizar {
    width: 2rem;
    height: 2rem;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}

.iconeVisualizar:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.botaonovo button {
    padding: 12px 24px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 2rem;
}

.botaonovo button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.form {
    margin: 20px 0;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px 15px;
}

.title_page {
    color: #ff9d00;
    border-bottom: 2px solid #ff9d00;
    padding: 15px;
    font-size: 22px;
    margin-bottom: 1rem;
}

.label_veiculos {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.input_veiculos,
.select_veiculos {
    width: calc(100% - 20px);
    padding: 10px;
    max-height: 47px;
    margin-top: 5px;
    border: 3px solid #8d8c8c;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #f9f9f9;
}

.grid {
    display: contents;
}

.grid_item {
    display: flex;
    flex-direction: column;
}

.grid_codigo {
    grid-column: span 2;
}

.grid_placa,
.grid_categoria,
.grid_marca,
.grid_ano,
.grid_cor,
.grid_combustivel,.grid_datainicial,
.grid_proprietario {
    grid-column: span 3;
}

.grid_modelo {
    grid-column: span 4;
}

.grid_observacoes {
    grid-column: span 6;
}

.select_veiculos {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7 10l5 5 5-5H7z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.select_veiculos:focus,
.input_veiculos:focus {
    border-color: #ff9d00;
    outline: none;
}

.footer_form {
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 15px;
    padding: 20px 40px 0 20px;
}

.button_return {
    padding: 10px 20px;
    background-color: #ff9d00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    grid-column: span 1;
    grid-area: 1 / 8 / 2 / 9;
}

.button_return:hover {
    background-color: #f39200;
    color: #222;
}

.button_edit {
    padding: 10px 20px;
    background-color: #ff9d00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    grid-column: span 1;
    grid-area: 1 / 8 / 2 / 9;
}

.button_edit:hover {
    background-color: #f39200;
    color: #222;
}

.submitButton {
    padding: 10px 20px;
    background-color: #ff9d00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    grid-column: span 1;
    grid-area: 1 / 8 / 2 / 9;
}

.submitButton:hover {
    background-color: #f39200;
    color: #222;
}

.button_cancel {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    grid-column: span 1;
    grid-area: 1 / 7 / 2 / 8;
}

.button_cancel:hover {
    background-color: #ff9d00;
    color: #222;
}

.error_message {
    color: red;
    font-size: 0.9em;
}