.main {
    display: flex;
    padding: 0 10%;
    flex-direction: column;
    height: 284vh;
}

.sectionOne,
.sectionThree {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.sectionTwo,
.sectionFour {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
}

.textContainer {
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.imageContainer {
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 1.6rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.imagem {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.containerTitle_left {
    width: 100%;
    height: 30%;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.containerTitle_right {
    width: 100%;
    height: 30%;
    align-items: flex-end;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.title_left {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    color: #ff9d00;
    font-size: clamp(2.8rem, 0.1129rem + 4.3871vw, 4.5rem);
    font-weight: 600;
}

.title_right {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #ff9d00;
    font-size: clamp(2.8rem, 0.1129rem + 4.3871vw, 4.5rem);
    font-weight: 600;
}

.hr {
    width: 95%;
    height: .35rem;
    background-color: #ff9d00;
    border: none;
    outline: none;
    margin: 0;
}

.container_left {
    width: 100%;
    height: 70%;
    display: flex;
    display: flex;
}

.container_right {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: flex-end;
}

.description {
    width: 95%;
    height: 50%;
    text-align: justify;
    font-size: clamp(1rem, 0.8304rem + 0.7143vw, 1.5rem);
    line-height: 2.5rem;
}

.line {
    width: 100%;
    height: .225rem;
    background-color: #ff9d00;
    border: none;
    outline: none;
}

.mainMobile {
    display: none;
}

@media screen and (max-width: 1280px) {

    .main {
        padding: 0 8%;
    }

    .imageContainer {
        height: 85%;
    }
}

@media screen and (max-width:1000px) {
    .main {
        display: none;
    }

    .mainMobile {
        display: flex;
        padding: 0 5%;
        flex-direction: column;
        height: 320vh;
    }

    .sectionMobile {
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .containerTitleMobile {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
    }

    .titleMobile {
        white-space: nowrap;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 3rem;
        margin-right: 1.5rem;
        color: #ff9d00;
        font-weight: 600;
    }

    .hrMobile {
        width: 100%;
        height: .5rem;
        background-color: #ff9d00;
        border-radius: 50px;
        /* VERIFICAR*/
        border: none;
        outline: none;
        margin: 0;
    }

    .imageMobile {
        width: 100%;
        height: 47.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 1.6rem;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    }

    .imgMobile {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .containerMobile {
        width: 100%;
        height: 37.5%;
        display: flex;
        align-items: center;
    }

    .descriptionMobile {
        width: 100%;
        text-align: justify;
        font-size: clamp(1rem, 0.8304rem + 0.7143vw, 1.5rem);
        line-height: 2.3rem;
    }
}


@media screen and (max-width:820px) {
    .imageMobile {
        width: 100%;
        height: 40%;
    }

    .containerMobile {
        height: 45%;
    }
}


@media screen and (max-width:680px) {
    .mainMobile {
        display: flex;
        padding: 0 5%;
        flex-direction: column;
        min-height: 320vh;

    }

    .imageMobile {
        width: 100%;
        height: 35%;
    }

    .containerMobile {
        height: 50%;
    }
}


@media screen and (max-width:500px) {
    .imageMobile {
        width: 100%;
        height: 30%;
    }

    .descriptionMobile {
        margin-top: 1rem;
    }

    .containerTitleMobile {
        height: 25%;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }

    .titleMobile {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        margin: 0;
    }
}

@media screen and (max-width:468px) {
    .imageMobile {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    }
}