.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    position: relative;
}

.modalTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.modalTableWrapper {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modalTable {
    width: 100%;
    border-collapse: collapse;
}

.modalTableHead,
.modalTableBody {
    display: flex;
    flex-direction: column;
}

.modalTable_tr {
    display: flex;
    width: 100%;
}

.modalTableHead {
    background-color: #ff9d00;
}

.modalTable_th {
    background-color: #ff9d00;
    padding: 12px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
}

.modalTable_td {
    padding: 12px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
}

.headerNome {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.headerVisivel,
.headerAcao {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalTable_tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.modalTable_tr:hover {
    background-color: #f0f0f0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #4caf50;
}

input:checked+.slider:before {
    transform: translateX(20px);
}

.btnDelete {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 6px;
}

.btnDelete:hover {
    background-color: #d32f2f;
}

.iconDelete {
    width: 1.25rem;
    height: 1.25rem;
}

.iconModalClose {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
}