.title_page {
    padding-left: 20px;
    color: #ff9d00;
    border-bottom: 2px solid #ff9d00;
    padding: 15px;
    font-size: 22px;
}

.form {
    margin: 20px 0;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px 15px;
}

.label_servicos {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-family: "Kanit", sans-serif;
}

.input_servicos {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 3px solid #8d8c8c;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #f9f9f9;
}

.button_submit {
    padding: 10px 20px;
    background-color: #ff9d00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    grid-column: span 1;
    grid-area: 1 / 8 / 2 / 9;
}

.grid {
    display: contents;
}

.grid_item {
    display: flex;
    flex-direction: column;
}

.grid_codigo,
.grid_situacao,
.grid_duracao,
.grid_preco {
    grid-column: span 2;
}

.grid_categoria,
.grid_nome {
    grid-column: span 5;
}

.grid_descricao {
    grid-column: span 6;
}

.grid_observacoes {
    grid-column: span 10;
}

.select_servicos {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 3px solid #8d8c8c;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #f9f9f9;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7 10l5 5 5-5H7z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    cursor: pointer;
}

.select_servicos:hover {
    border-color: #ff9d00;
}

.select_servicos:focus,
.input_servicos:focus {
    border-color: #ff9d00;
    outline: none;
}

@media only screen and (max-width: 500px) {
    .form {
        background-color: #f9f9f9;
        border-radius: .5rem;
        grid-template-columns: repeat(4, 1fr);
    }

    .grid_item,
    .grid_codigo,
    .grid_situacao,
    .grid_duracao,
    .grid_preco,
    .grid_categoria,
    .grid_nome,
    .grid_descricao,
    .grid_observacoes {
        grid-column: span 4;
    }

    .input_servicos,
    .select_servicos {
        width: 100%;
    }
}